/*
**********
common 
**********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**********
debug 
**********
*/



/*
**********
header
**********
*/

header{
    color: white;
    font-family: arial;
}

.header-intestazioni{ 
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.header-blocco1{
    width: 100%;
    padding-top: 20px;
    height: 85px;
    background-color: #255ee9;
}

.header-logo{
      width: 250px;
      align-items: center;
      display: flex; 
      padding-left: 15px;  
}

    .header-link{
        width: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-link > a{
        color: white;
        text-decoration: none;
        margin-right: 40px;    
    }
    
    .header-login{
        width: 250px;
        align-items: center;
        display: flex;
        justify-content: end;
    }
    
    .header-login > a{
        background-color: white;
        border-radius: 20px;
        padding: 12px;
        color: black;
    }

    a{
        text-decoration: none;
        border-radius: 20px;
        padding: 15px;
    }

    .container-blocco2{
        background-image: url(../img/jumbo.png);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .titolo{
        text-align: center;
        margin: 0 auto;
        padding: 185px;
        max-width: 70%;
    }

    h1{
        margin-bottom: 40px;
        font-size: 40px;
    }

    p{
        margin-bottom: 40px;
    }

   .bottoni-header2 > a{
    background-color: white;
    margin: 20px;
   }

   .bottoni-header2 :first-child{
    color: black; 
   }
   
   .bottoni-header2 :last-child{
    color: white;
    background-color: #23272a;
   }

   /*
**********
/header
**********
*/


/*
**********
main
**********
*/
main{
    font-family: arial;
    color: black;
}

.main1, .main3, .main2{
    padding: 140px;    
}

.container-main1, .container-main3, .container-main2{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.main1-left, .main3-left, .main2-left{
    width: 750px;    
}

.main1-right, .main3-right, .main2-right{
    width: calc(100% - 750px);  
}

.container-main2{
    flex-direction: row-reverse;
}

.main1-right > h2{
    margin-top: 40px;
    font-size: 55px;
}

.main1-right > p{
    margin-top: 55px;
    text-align: left;
    
}

.main2, .main4{
background-color: #f6f6f6;
}

.main2-right > h2, .main3-right > h2{
    font-size: 55px;
    margin-top: 25px;
}
.main2-right > p, .main3-right > p{
    
    margin-top: 25px;
    text-align: left;
 
}


.container-main4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo-main4{
    text-align: center;
    width: 750px;
    margin-top: 70px;
}

.titolo-main4 > h2{
    font-size: 35px;
    margin-bottom: 35px;
}

.titolo-main4 > p{
    font-size: 15px;
    
}

.domanda{
    margin-top: 60px;
}

.scarica-mac > a{
    background-color: #7289da;
    border-radius: 20px;
    padding: 12px;
    color: white;


}

.scarica-mac{
    margin: 100px;
}
/*
**********
/main
**********
*/

/*
**********
footer 
**********
*/

span > img{
    width: 5%;
}
.lingua{
    color: white;
    
}

.container-footer1{
    background-color: #23272a;
height: 660px;
}

.footer1-left{
    width: 375px;
}

.footer1-right{
    width: calc(100% - 375px);
    display: flex;

}

.social > h2{
    font-size: 40px;
    margin: 20px;
    color: #527dd0;
    
}
.social > span{
    margin-left: 20px;
}

.footer1{
width: 1250px;
margin: 0 auto;
display: flex;
padding-top: 10px;
text-align: left;
}

.icone{
    margin: 20px;
    color: white;
}

.fa-brands{
    margin-right: 20px;
}

.footer1-right > .blocchi-right{
    width: calc(100% / 4);
    border: 2px dashed white;
}

.container-footer2{
    height: 115px;
    background-color: #23272a;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: end;

}

.footer2{
    background-color: #7fffd4;
    height: 85px;
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
background-color: #ffb6c1;
height: 40px;
width: 70px;
display: flex;
justify-content: center;
align-items: center;
border: 2px dashed black;
font-size: 20px;

}

.bottone{
    background-color: #ffb6c1;
height: 40px;
width: 95px;
display: flex;
justify-content: center;
align-items: center;
border: 2px dashed black;
font-size: 20px;

}

/*
**********
/footer 
**********
*/

   